#main-wrapper
{
	font-family:'Inconsolata',Monaco,"Lucida Console",Consolas,"Courier New";
	font-size:18px;
	width:1280px;
}
#sidebar
{
	float:left;
	margin-right:0px;
	padding-right:0px;
}
#current_time
{
	font-size:35px ;
	font-weight:bold;
	color:#000000;
	text-align:center;
}
#current_minister
{
	font-size:35px ;
	color:#000000;
	text-align:center;
}
#chart
{
	float:left;
}
.g
{
	font-size:35px;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}