#main-wrapper
{
	font-family:'Inconsolata',Monaco,"Lucida Console",Consolas,"Courier New";
	font-size:18px;
	width:1280px;
}
#sidebar
{
	float:left;
	margin-right:0px;
	padding-right:0px;
}
#current_time
{
	font-size:35px ;
	font-weight:bold;
	color:#000000;
	text-align:center;
}
#current_minister
{
	font-size:35px ;
	color:#000000;
	text-align:center;
}
#chart
{
	float:left;
}
.g
{
	font-size:35px;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.button rect {
  stroke: #999faa; /* navy 40% */
  stroke-width: 2px;
}

.button rect.pressed {
  fill: #000f2b; /* navy 100% */
}

.button #gradient-start {
  stop-color: #999faa; /* navy 40% */
  stop-opacity: 1;
}

.button #gradient-stop {
  stop-color: #4d576b; /* navy 70% */
  stop-opacity: 1;
}

.button #gradient-start.active, .button #gradient-start.pressed {
  stop-color: #4d576b; /* navy 70% */
}

.button #gradient-stop.active, .button #gradient-stop.pressed {
  stop-color: #000f2b; /* navy 100% */
}

.button text {
  font-size: 16px;
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}